/* URLBar Background Blur test */ 
#browser:has(#urlbar[open][zen-floating-urlbar="true"]) .browserContainer {
    pointer-events: none;
    filter: blur(10px) brightness(70%) saturate(50%) opacity(70%) !important;
    scale: 1.1 !important; /* Zoom effect, remove the // to enable */
}
#browser .browserContainer {
transition: all 0.2s ease-in-out !important;
}
